*.swp

wgconfig-agent/*.conf
wgconfig-agent/*.lock
wgconfig-agent/target/

wgconfig-server/*.db
wgconfig-server/*.dll
wgconfig-server/*.dylib
wgconfig-server/*.exe
wgconfig-server/*.exe~
wgconfig-server/*.out
wgconfig-server/*.so
wgconfig-server/*.test
wgconfig-server/wgconfig-server
wgconfig-server/vendor/
